a, a:hover{
    text-decoration: none;
}
#acmlogo {
    height: 150px;
    width: 150px;
    display: block;
    margin: 0px auto;
}
.nav-item {
    color: #969696;
    font-size: 1.5em;
}
.nav-item:hover {
    color: #636363;
}


.title {
    font-size: 1.5em;
    font-weight: bold;
    color: #636363;
}
.content {
    font-size: 1.2em;
}
.content h1 {
    font-size: 1.5em;
    font-weight: 800;
}
.content h2 {
    padding: 30px 0px;
}
input[type='radio'] { 
    transform: scale(1.5); 
    margin-right: 2%; 
    margin-left: 0; 
    margin-top: 0; 
    margin-bottom: 0;

}
input[type='checkbox'] { 
    transform: scale(1.5); 
    margin-right: 2.5%; 
    margin-left: 0; 
    margin-bottom: 0;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}

.text-align{
    margin-top: -15%;
    margin-bottom: -9%;
    padding: 10%;
    margin-left: 30%;
}
.form-new{
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    padding: 2%;
    border: 1px solid #636363; 
}

.register-heading{
    color: #636363; 
    text-align: center;
    margin-bottom: 4%;
}

.btnSubmit{
    display: inline-flex;
    border-radius: 8px;
    color: #2084E8;
    background-color: #e9ecef;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 10%;
    outline: 0; 
    font-size: 1.5em; 
    margin: 2% auto;
}
.btnSubmit:hover {
    color: #e9ecef;
    background-color: #2084E8;
}
::-webkit-input-placeholder {
    font-style: italic;
}
#submit-status {
    color: green;
    font-size: 150%;
    padding: 2%;
}
.form-control {
    border: 0;
    border-bottom: 1px solid lightblue;
    font-size: 1em;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: rgb(0, 102, 255);
}
#hear-about-us {
    border: 0;
    float: right;
    border-bottom: 1px solid lightblue;
}
.note {
    color: red;
    font-size: small;
}
.display-inline {
    display: inline-block;
}
.form-dropbox {
    float: right;
}
*:focus {
    outline: 0;
}

