@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Share+Tech+Mono|VT323&display=swap');

/*Cloud Splash Page Style Sheet*/
html, body {
    margin:0;
    padding: 0;
}

html {
    background: url("images/appleBlue.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    /*background-image: url("appleBlue.jpg");*/
    background-size:cover;
    max-width: 100%;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    /*//height: auto;*/
}

 h1 {
     padding-top: 18px;
     padding-bottom: 18px;
     font-family: 'VT323',sans-serif;
     font-size: 6vw;
     text-align: center;
     color: white;

 }
h4 , h3{
    padding-top: 18px;
    font-family: 'Share Tech Mono', cursive;
    text-align: center;
    color: white;

}


p{
    padding-top:10px;
    font-family: 'Share Tech Mono', sans-serif;
    text-align: center;
    color: white;

}


.glow {

    font-size: 30px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #08A600, 0 0 40px #08A600, 0 0 50px #08A600, 0 0 60px #08A600, 0 0 70px #08A600;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #0BE400, 0 0 40px #0BE400, 0 0 50px #0BE400, 0 0 60px #0BE400, 0 0 70px #0BE400, 0 0 80px #0BE400;
    }
}


/* container for transparent image text*/
.container2 {
    display: flex;
    justify-content: space-evenly;
    /*justify-items: center;*/
    align-items: center;
    max-width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
    line-height: 10px;
}

.container2 .content {

    position: absolute; /* Position the background text */
    bottom:25%; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */


}

.container2 .logo{
    height: 10px;
    width: 10px;
    padding: 20px;
}

.w3-tag {
    position: fixed;
    left:20px; /* Adjust as needed */
    top:30px; /* Adjust as needed */

}

.logo-div  {
    Width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    position: fixed;
    right:15px; /* Adjust as needed */
    top:15px; /* Adjust as needed */
    z-index: 1; /* Adjust as needed */
    transform:rotate(20deg)
}


.postit {
    height: 20vw;
    width: 20vw;
    background: url('./images/postit.png');
    background-repeat: no-repeat;
    background-size: contain; 
    transform: translate(40px, 40px);
}

.postit > p {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Permanent Marker', cursive;
    font-size: 2vw;
    text-align: center;
    color: black;
}
    



