body {
  font-family: 'Open Sans', sans-serif;
  background: #1b0925;
  color: #ddd;
}

.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background-color: #222222;
}

.navigation-bar div, .navigation-bar a, .navigation-bar h2, .navigation-bar h3 {
  display: inline-block;
  color: #ddd;
  margin: 5pt;
}

.navigation-bar h2 {
  font-size: 20pt;
  -webkit-text-stroke: none;
  -moz-text-stroke: none;
  -webkit-filter: none;
          filter: none;
}

.navigation-bar h3 {
  font-size: 14pt;
}

.button, .navigation-bar .nav-register, .top-fold .top-fold__register {
  color: #ddd;
  background-color: #ad3eff;
  padding: 8px 15px;
  display: table;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 5px #ad3eff;
          box-shadow: 0 2px 5px #ad3eff;
}

.top-fold__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  max-width: 1100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-fold {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #1b0925), color-stop(71%, #ad3eff), color-stop(90%, #1b0925));
  background: linear-gradient(#1b0925 70%, #ad3eff 71%, #1b0925 90%);
}

.top-fold img {
  width: 700px;
  display: block;
}

.top-fold .top-fold__register {
  margin-top: 15pt;
}

.top-fold__left {
  margin-left: 50px;
}

.faq {
  background-color: #1b0925;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.faq .center {
  width: 95%;
  max-width: 800px;
}

.faq .question {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 10px;
  border-radius: 3px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq li {
  margin-top: 15pt;
  margin-bottom: 15pt;
}

.faq strong {
  font-weight: 600;
  color: #ddd;
  font-size: 1.4rem;
}

.faq p {
  color: #ddd;
  margin-top: 5px;
  font-size: 1.3rem;
  padding: 8px 10px;
}

.contact {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.contact h2 {
  margin-bottom: 15px;
}

.contact p, .contact a {
  line-height: 200%;
  color: #ddd;
  width: 95%;
  max-width: 800px;
}

.contact a {
  color: #50e9fd;
  text-decoration: underline;
}

p {
  color: #ddd;
}

b, i, em, strong {
  color: #50e9fd;
}

em, i {
  font-weight: 400;
  font-style: italic;
}

b, strong {
  font-weight: 800;
}

a {
  color: #50e9fd;
  text-decoration: underline;
}

h1, h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: #ddd;
}

h1 b, h2 b {
  font-size: unset;
}

h3, h4 {
  color: #ddd;
  font-weight: 400;
}

h3 b, h4 b {
  font-size: unset;
  font-weight: 400;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 25pt;
  font-style: italic;
}

h1, h2 {
  font-style: italic;
  color: transparent;
  paint-order: stroke;
  -moz-text-stroke-color: #fcb3ff;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcb3ff;
  -webkit-text-stroke-width: 1px;
  -webkit-filter: drop-shadow(0 0 5px #ad3eff);
          filter: drop-shadow(0 0 5px #ad3eff);
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 20pt;
}

@media (max-width: 850px) {
  .top-fold__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-fold__center img {
    margin-top: 18pt;
    display: block;
    max-width: 50%;
  }
  .top-fold__center .top-fold__left {
    display: block;
    margin-left: 0;
  }
  .navigation-bar {
    padding: 3pt;
  }
  .navigation-bar h2, .navigation-bar a {
    margin: 0;
  }
  .navigation-bar h2 {
    font-size: 13pt;
  }
  .navigation-bar h3 {
    display: none;
  }
  .navigation-bar a {
    font-size: 10pt;
  }
  .top-fold {
    background: #1b0925;
  }
}
/*# sourceMappingURL=styles.css.map */