$background: #111;
$foreground: #ccc;
$text-highlight: rgb(106, 80, 253);
$neon-pink: #e0b3ff;
$glow-pink: #ad3eff;

$nav-background: rgba(255, 255, 255, 0.2);
$nav-foreground: white;

body
{
    font-family: 'Open Sans', sans-serif;
    background: $background;
    color: $foreground;
}

p
{
    color: $foreground;
}

b, i, em, strong
{
    color: $text-highlight;
}
em, i
{
    font-weight: 400;
    font-style: italic;
}
b, strong
{
    font-weight: 800;
}

a 
{
    color: $text-highlight;
    text-decoration: underline;
}

h1, h2, h3, h4
{
    font-weight: 800;
    text-transform: uppercase;
    color: $foreground;
    b 
    {
        font-size: unset;
    }
}

h1
{
    font-size: 50pt;
}
h2
{
    font-size: 25pt;
    font-style: italic;
}
h1, h2
{
    font-style: italic;
    color: transparent;
    paint-order: stroke;
    -moz-text-stroke-color: $neon-pink;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: $neon-pink;
    -webkit-text-stroke-width: 1px;
    filter: drop-shadow(0 0 5px $glow-pink);
}

h3
{
    font-size: 20pt;
}
h4
{
    font-size: 20pt;
}

.navigation-bar
{
    background-color: $nav-background;
    div, a, h2
    {
        display: inline-block;
        color: $nav-foreground;
        margin: 5pt;
    }
    h2
    {
        font-size: 20pt;
        -webkit-text-stroke: none;
        -moz-text-stroke: none;
        filter: none;
    }
    .nav-register
    {
        background-color: $glow-pink;
        padding: 5pt;
        border-radius: 5px;
        border: 1px solid darken($color: $glow-pink, $amount: 50%);
        box-shadow: 0 0 5px $glow-pink;
    }
}