@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Share+Tech+Mono|VT323&display=swap');

h1{
    margin: 0;
    padding: 25px 0;
    font-size: 40px;
    font-family: 'Share Tech Mono', sans-serif;
    text-align: center;

}

h2, h3{
    font-family: 'Share Tech Mono', sans-serif;
    padding: 5px 0;
}
h4{
    font-family: 'Share Tech Mono', sans-serif;
    padding:2px 0;
}

header h1 {
    color: white;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    /*z-index: 5;*/
    float: left;
    position: absolute;
    height:  100%;
    max-width:35%;
    background-color: white;
    border-top-right-radius: 30% 50%;
    border-bottom-right-radius: 30% 50%;
}


/*=========Color Rainbow Boxes========= */
.box1 {background: #2ecc71;}
.box2 { background: #f1c40f;}
.box3 { background: #e67e22;}
.box4 { background: #ce1126;}
.box5 { background: #9b59b6;}
.box6 { background: #3498db;}
.box7 { background: #1abc9c;}
.box8 { background: #34495e;}
.box9 { background: #e743c3;}
.box10 { background: #16A085;}
/*=====================================*/

/*=======Navigation Within Rainbow Boxes======*/
.rightNav{
    float: right;
    height: auto;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;

}
.move{
    justify-content: flex-start;
}

.rightNav p{

    height:7vh;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: 'Share Tech Mono', sans-serif;

}

.container{
    height: 100vh;
}

.box{
    text-align: right;
    padding: 5px;
    justify-content: center;
}

.box p{
    color: white;
    padding-right: 25px;
}
/*=====================================*/

/* =============Start of CSS for Card 1 open page===========*/
.overlay1 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #2ecc71;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay1-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay1 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay1 a:hover, .overlay1 a:focus {
    color: #f1f1f1;
}

.overlay1 .closebtn {
    position: absolute;
    background-color: #2ecc71;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay1 a {font-size: 20px}
    .overlay1 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 1 pages===========*/



/* =============Start of CSS for 2 open pages===========*/
.overlay2 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #f1c40f;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay2-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay2 a:hover, .overlay2 a:focus {
    color: #f1f1f1;
}

.overlay2 .closebtn {
    position: absolute;
    background-color: #f1c40f;;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay2 a {font-size: 20px}
    .overlay2 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card  2 open page===========*/


/* =============Start of CSS for 3 open pages===========*/
.overlay3 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #e67e22;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay3-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay3 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay3 a:hover, .overlay3 a:focus {
    color: #f1f1f1;
}

.overlay3 .closebtn {
    background-color: #e67e22;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay3 a {font-size: 20px}
    .overlay3 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 3 open pages===========*/


/* =============Start of CSS for 4 open pages===========*/
.overlay4 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #ce1126;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay4-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay4 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay4 a:hover, .overlay4 a:focus {
    color: #f1f1f1;
}

.overlay4 .closebtn {
    background-color: #ce1126;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay4 a {font-size: 20px}
    .overlay4 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 4 open pages===========*/


/* =============Start of CSS for 5 open pages===========*/

.overlay5 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #9b59b6;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay5-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay5 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay5 a:hover, .overlay5 a:focus {
    color: #f1f1f1;
}

.overlay5 .closebtn {
    background-color: #9b59b6;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay5 a {font-size: 20px}
    .overlay5 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 5 open pages===========*/


/* =============Start of CSS for 6 open pages===========*/
.overlay6 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #3498db;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay6-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay6 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay6 a:hover, .overlay6 a:focus {
    color: #f1f1f1;
}

.overlay6 .closebtn {
    background-color: #3498db;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay6 a {font-size: 20px}
    .overlay6 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of CCard 6 open pages===========*/


/* =============Start of CSS for 7 open pages===========*/

.overlay7 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #1abc9c;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay7-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay7 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay7 a:hover, .overlay7 a:focus {
    color: #f1f1f1;
}

.overlay7 .closebtn {
    background-color: #1abc9c;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay7 a {font-size: 20px}
    .overlay7 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 7 open pages===========*/


/* =============Start of CSS for 8 open pages===========*/
.overlay8 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #2ecc71;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay8 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #34495e;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay8-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay8 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay8 a:hover, .overlay8 a:focus {
    color: #f1f1f1;
}

.overlay8 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background-color: #34495e;
}

@media screen and (max-height: 450px) {
    .overlay8 a {font-size: 20px}
    .overlay8 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card8 open pages===========*/


/* =============Start of CSS for 9 open pages===========*/
.overlay9 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color:  #e743c3;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay9-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay9 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay9 a:hover, .overlay9 a:focus {
    color: #f1f1f1;
}

.overlay9 .closebtn {
    background-color: #e743c3;;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay9 a {font-size: 20px}
    .overlay9 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 9 open pages===========*/


/* =============Start of CSS for 10 open pages===========*/
.overlay10 {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #2ecc71;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay10-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay10 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay10 a:hover, .overlay10 a:focus {
    color: #f1f1f1;
}

.overlay10 .closebtn {
    background-color:  #2ecc71;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay10 a {font-size: 20px}
    .overlay10 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 10 open pages===========*/
.responsive{
    width: 100%;
    height: auto;
    max-width: 550px;
    padding: 20px;
}


/*==================================================================*/
/*=====Images Overlay within content info cards starts here ========*/
.image_card1{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #2ecc71;
    opacity: 0.25;
}

.image_card2{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f1c40f;
    opacity: 0.25;
}

.image_card3{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #e67d22;
    opacity: 0.25;
}

.image_card4{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ce1126;
    opacity: 0.25;
}
.image_card5{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #9b59b6;
    opacity: 0.25;
}
.image_card6{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #3498bd;
    opacity: 0.25;
}
.image_card7{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #1abc9c;
    opacity: 0.25;
}
.image_card8{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #344953;
    opacity: 0.25;
}
.image_card9{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #e743c3;
    opacity: 0.25;
}
.image_card10{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #16A085;
    opacity: 0.25;
}

/*=====End Image Overlays within content info cards starts here ========*/


/*===============Social Media and Hover to Links==========*/
 a {
    color: dimgrey;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 5px 5px;
    display: inline-block;
    width: 15%;
    text-align: center;
    transition: all 0.5s;
    text-decoration: none;

}

/* ============hover over links=========*/
 a:hover {
    background-color: deepskyblue;
    color: darkgoldenrod;
    -webkit-animation: grow;
    padding: 2px 20px;
}

/*Main Navigation Container*/
.flex-nav ul{
    font-family: 'Share Tech Mono', sans-serif;
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
}

/*Items within Navigation Container*/
.flex-nav li{
    flex: 3;
    font-size: 25px;
}

/*Social Icon Adjust for deices*/
.flex-nav .social {
    flex: 1;
}
/*wrapping on top navigation*/
* ::before ::after{
    box-sizing: inherit;
}

.wrapper{
    max-width: 250px;
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 55px;
}

/*=======Registration Button Start==========*/
.registration {
    text-align: center;
    margin-left: 55px;
    margin-top: 5px;
    padding: 2px 2px;
    background-color: Gold;
    width: 170px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Share Tech Mono', sans-serif;
    color: darkviolet;
    border-radius: 5px;
}

.registration:hover {
    -webkit-animation: grow;
    padding: 8px 8px;
    color: gold;
    background-color: blueviolet;
}/*=======Registration Button End ==========*/

/*========Flex Boxes on Info Slide Out Cards=========*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 15px;
    color: white;
    font-family: 'Share Tech Mono', sans-serif;
    margin-top: 50px;
}

.flex-container > div {
    /*background-color: #f1f1f1;*/
    width: 45%;
    margin: 20px;
    text-align: left;
    line-height: 2;
    font-size: 15px;
}
/*====================================================*/

/*============Event Title Block Start================*/
.title{
    background: #fff;
    color: #58585a;
    float: left;
    position: relative;
    width: 60%;
    font-size: 65px;
    font-weight: 400;
    margin-left: 55px;
    letter-spacing: -5px;
    font-family: 'Share Tech Mono', sans-serif;
}

.event{
    background: #fff;
    color: #58585a;
    float: left;
    position: center;
    width: 73%;
    margin-left: 55px;
    line-height: 1px;
}

@media only screen and (max-width: 768px) {
    .title{
        width: 40%;
        font-size: 45px;

    }
    .registration{
        font-size: 14px;
        width: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .event{
        width: 60%;
        font-size: 12px;
    }
    .flex-nav .social{

    }
    .wrapper{
        max-width: 180px;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 425px){
    .registration{
        margin-left: 10px;
        font-size: 15px;
    }
    .event{
        display:flex;
        flex-wrap: wrap;
        margin-left: 15px;
        width: 80%;
    }
    .title{
        margin-left: 15px;
    }
    .wrapper{
        max-width: 120px;
    }
    .myNav1{
        z-index: 5;
    }

}
 .docs  button{

    background-color: lightslategray;
    color: white;
    align-items: center;
    border-radius:10px;
    margin-left: 20px;
}

 .docs:hover {
    -webkit-animation: grow;
    color: darkorange;
    background-color: dodgerblue;
}

.flex-columns{
    display: flex;
    flex-direction: row;
}
.flex-columns > div {
    width: 115px;
    margin: 10px;
    text-align: center;
    line-height: 2;
    font-size: 15px;
}
.schedule {
    font-size: 20px;
    line-height: 2;
    padding: 5px;
}

th {
    padding-right: 10px;
}
/*@media only screen and (max-width: 1440px){*/
/*    .registration{*/
/*        margin-left: 65px;*/
/*        font-size: 30px;*/
/*        padding: 10px;*/
/*        margin-top: 20px;*/
/*        margin-bottom: 20px;*/
/*    }*/
/*    .event{*/
/*        margin-left: 65px;*/
/*        font-size: 25px;*/
/*    }*/
/*    .title{*/
/*        margin-left: 65px;*/
/*        margin-top: 20px;*/
/*        margin-bottom: 20px;*/
/*    }*/
/*    .wrapper{*/
/*        max-width: 320px;*/
/*    }*/
/*}*/
