/*<!--Updated 3/2 10px -->*/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Share+Tech+Mono|VT323&display=swap');

h1{
    margin: 0;
    padding: 25px 0;
    font-size: 40px;
    font-family: 'Share Tech Mono', sans-serif;
    text-align: center;
}

h2, h3{
    font-family: 'Share Tech Mono', sans-serif;
    padding: 5px 0;
}

h4{
    font-family: 'Share Tech Mono', sans-serif;
    padding:2px 0;
}

header h1 {
    color: white;
}
html, body{
    /*=====removes visible scroll bar======*/
    overflow-x: hidden;
    overflow-y: hidden;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
    z-index: 1;
    float: left;
    position: absolute;
    height:  100%;
    max-width:35%;
    /*padding: 100px 0;*/
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    border-top-right-radius: 30% 50%;
    border-bottom-right-radius: 30% 50%;
}

/*#clouds{*/
/*    padding: 100px 0;*/
/*    background: #c9dbe9;*/
/*    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);*/
/*    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);*/
/*    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);*/
/*}*/



/*=========Color Rainbow Boxes========= */
.box1 {background: #2ecc71;}
.box2 { background: #f1c40f;}
.box3 { background: #e67e22;}
.box4 { background: #ce1126;}
.box5 { background: #9b59b6;}
.box6 { background: #3498db;}
.box7 { background: #1abc9c;}
/*.box8 { background: #34495e;}*/
/*.box9 { background: #e743c3;}*/
/*.box10 { background: #16A085;}*/
/*=====================================*/

/*=======Navigation Within Rainbow Boxes======*/
.rightNav{
    float: right;
    height: auto;
    width: 100%;
    z-index:999999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;

}
.tablinks active{
    -webkit-animation: bounce;
}
.move{
    justify-content: flex-start;
}

.rightNav p {
    z-index: 999999;
    padding: 15px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: 'Share Tech Mono', sans-serif;

}

.container{
    height: 100vh;
	/*allow boxes to autoresize with page height*/
	display: flex;
	flex-direction: column;
}

.box{
    text-align: right;
    padding: 5px;
    justify-content: center;
}

/*allow boxes to autoresize with page height*/
.container > div {
  flex: 1;
}

.box p{
    color: white;
    padding-right: 25px;
}

#tablinkcontainer {
	float:right;
	width:100%;
	transition-duration: 300ms;
}

/*=================Tabcontent generic style====================*/

.tabcontent {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	overflow-x: hidden;
    transition: 0.0s;
}

.tabcontent::-webkit-scrollbar {
    display: none;
}

.overlaycontent {
	position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* =============Start of CSS for Card 1 open page===========*/
.overlay1  {

    /*background-color: black;*/
    background-color: #2ecc71;

}

.overlay1 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay1 a:hover, .overlay1 a:focus {
    color: #f1f1f1;
}

.overlay1 .closebtn {
    position: absolute;
    background-color: #2ecc71;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
    .overlay1 a {font-size: 20px}
    .overlay1 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 1 pages===========*/



/* =============Start of CSS for 2 open pages===========*/
.overlay2 {
    /*background-color: black;*/
    background-color: #f1c40f;
}


.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay2 a:hover, .overlay2 a:focus {
    color: #f1f1f1;
}

.overlay2 .closebtn {
    position: absolute;
    background-color: #f1c40f;;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay2 a {font-size: 20px}
    .overlay2 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card  2 open page===========*/


/* =============Start of CSS for 3 open pages===========*/
.overlay3 {
    /*background-color: black;*/
    background-color: #e67e22;
}

.overlay3 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay3 a:hover, .overlay3 a:focus {
    color: #f1f1f1;
}

.overlay3 .closebtn {
    background-color: #e67e22;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay3 a {font-size: 20px}
    .overlay3 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 3 open pages===========*/


/* =============Start of CSS for 4 open pages===========*/
.overlay4 {
    /*background-color: black;*/
    background-color: #ce1126;
}

.overlay4 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay4 a:hover, .overlay4 a:focus {
    color: #f1f1f1;
}

.overlay4 .closebtn {
    background-color: #ce1126;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay4 a {font-size: 20px}
    .overlay4 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 4 open pages===========*/


/* =============Start of CSS for 5 open pages===========*/

.overlay5 {
  /*background-color: black;*/
    background-color: #9b59b6;
}

.overlay5 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: lightgray;
    display: block;
    transition: 0.3s;
}

.overlay5 a:hover, .overlay5 a:focus {
    color: #f1f1f1;
}

.overlay5 .closebtn {
    background-color: #9b59b6;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay5 a {font-size: 20px}
    .overlay5 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 5 open pages===========*/


/* =============Start of CSS for 6 open pages===========*/
.overlay6 {
    /*background-color: black;*/
    background-color: #3498db;
}

.overlay6 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay6 a:hover, .overlay6 a:focus {
    color: #f1f1f1;
}

.overlay6 .closebtn {
    background-color: #3498db;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay6 a {font-size: 20px}
    .overlay6 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of CCard 6 open pages===========*/


/*!* =============Start of CSS for 7 open pages===========*!*/

.overlay7 {
    /*background-color: black;*/
    background-color: #1abc9c;
}

.overlay7 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay7 a:hover, .overlay7 a:focus {
    color: #f1f1f1;
}

.overlay7 .closebtn {
    background-color: #1abc9c;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay7 a {font-size: 20px}
    .overlay7 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* =============End of Card 7 open pages===========*/

.responsive{
    width: 100%;
    height: auto;
    max-width: 550px;
    padding: 20px;
}


/*==================================================================*/
/*=====Images Overlay within content info cards starts here ========*/
.image_card1{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #2ecc71;
    opacity: 0.25;
}

.image_card2{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f1c40f;
    opacity: 0.25;
}

.image_card3{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #e67d22;
    opacity: 0.25;
}

.image_card4{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ce1126;
    opacity: 0.25;
}
.image_card5{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #9b59b6;
    opacity: 0.25;
}
.image_card6{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #3498bd;
    opacity: 0.25;
}
.image_card7{
    align-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #1abc9c;
    opacity: 0.25;
}


/*=====End Image Overlays within content info cards starts here ========*/


/*===============Social Media and Hover to Links==========*/
/* a {*/
/*    color: dimgrey;*/
/*    font-weight: 100;*/
/*    letter-spacing: 2px;*/
/*    padding: 5px 5px;*/
/*    display: inline-block;*/
/*    width: 15%;*/
/*    text-align: center;*/
/*    transition: all 0.5s;*/
/*    text-decoration: none;*/

/*}*/

 /*============hover over links=========*/
.fa{
    color: lightslategray;
    size: 30px;
}
.fa:hover {
    background-color: deepskyblue;
    color: #457eb8;
    -webkit-animation: grow;
    padding: 2px 20px;
}

/*Main Navigation Container*/
.flex-nav ul{
    font-family: 'Share Tech Mono', sans-serif;
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;

}

/*Items within Navigation Container*/
.flex-nav li{
    flex: 3;
    font-size: 25px;
}

/*Social Icon Adjust for deices*/
.flex-nav .social {
    flex: 1;
}
/*wrapping on top navigation*/
*. *:before *:after{
    box-sizing: inherit;
}

.wrapper{
    max-width: 250px;
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 55px;
}

/*=======Registration Button Start==========*/
.registration {
    text-align: center;
    margin-top: 5px;
    padding: 2px 2px;
    background-color: Gold;
    width: 170px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Share Tech Mono', sans-serif;
    color: darkviolet;
    border-radius: 5px;
    text-decoration: none;
}

.registration:hover {
    -webkit-animation: grow;
    padding: 8px 8px;
    background-color: darkviolet;
    color: gold;
}/*=======Registration Button End ==========*/

/*========Flex Boxes on Info Slide Out Cards=========*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 15px;
    color: white;
    font-family: 'Share Tech Mono', sans-serif;
    margin-top: 50px;
}

.flex-container > div {
    /*background-color: #f1f1f1;*/
    width: 45%;
    margin: 20px;
    text-align: left;
    line-height: 2;
    font-size: 15px;
}
/*====================================================*/

/*============Event Title Block Start================*/
.title{

    color: #58585a;
    float: left;
    position: relative;
    width: 60%;
    font-size:60px;
    font-weight: 400;
    margin-left: 55px;
    letter-spacing: -5px;
    font-family: 'Share Tech Mono', sans-serif;
}

.event{

    color: #58585a;
    float: left;
    position: center;
    width: 73%;
    margin-left: 55px;

    /*font-stretch: 25px;*/
}

/*=======tablet media query==================*/
@media only screen and (max-width: 768px) {
    .title{
        width: 40%;
        font-size: 40px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .registration{
        font-size: 14px;
        width: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .event {
        /*width:250px;*/
       width: 150px;
        font-size: 15px;
        margin-top: 8px;
        margin-left: 10px;

    }
    .flex-nav .social{
        /*margin-left: 20px;*/
    }
    .wrapper{
        max-width: 180px;
        margin-top: 15px;
        margin-left: 20px;
    }
    tr th {
        width: auto;
        font-size: 20px;
        border: 1px solid cornsilk;
    }
    .flex-container > div{
        margin: 5px;
        width: 85%;
    }
}

/*=========cell phone media query===========*/
@media only screen and (max-width: 425px){
    .section{
        width: 60%;
    }
    .registration{
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .event{
        margin-left: 5px;
        width: 80%;
    }
    .title{
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 10px;
        font-size: 30px;
    }

    .wrapper {
        float: left;
        margin-top: 4px;
        margin-left: 2px;
    }
    .fa{
        padding: 8px;
        size: 20px;
    }
    .myNav1{
        z-index: 5;
    }
   .flex-container{
       padding: 5px;
       margin-top: 15px;
       width: 80%;
   }
    .flex-container > div{
        margin: 5px;
        width: 85%;
        font-size: 12px;
    }
   th {
       padding: 2px;
       font-size: 12px;
       border: 1px solid cornsilk;
   }
   .rightNav p {
       font-size: 20px;
   }
    .schedule{
        font-size: 15px;
    }
}


/*@media only screen and (max-width: 1440px){*/
/*    .wrapper{*/
/*        margin-left: 30px;*/
/*        margin-top: 30px;*/
/*    }*/
/*   .event{*/
/*       margin-top: 20px;*/
/*       margin-bottom: 30px;*/
/*       margin-left: 30px;*/
/*       font-size: 25px;*/
/*       height: 50px;*/
/*   }*/
/*   .title{*/
/*       margin-top: 30px;*/
/*       margin-bottom: 20px;*/
/*       margin-left: 30px;*/
/*       font-size: 70px;*/
/*   }*/
/*}*/

/*@media only screen and (max-width: 1024px){*/
/*    .wrapper{*/
/*        margin-left: 30px;*/
/*        margin-top: 10px;*/
/*    }*/
/*    !*.event{*!*/
/*    !*    width: 300px;*!*/
/*    !*    margin-bottom: 30px;*!*/
/*    !*    margin-left: 30px;*!*/
/*    !*    font-size: 20px;*!*/
/*    !*    height:300px;*!*/
/*    !*}*!*/
/*    .title{*/
/*        margin-top: 10px;*/
/*        margin-bottom: 20px;*/
/*        margin-left: 30px;*/
/*        font-size: 50px;*/
/*    }*/
/*}*/
 /*=====document button========*/
 .overlay2 button {

    background-color: white;
    color: dodgerblue;
    align-items: center;
    border-radius:10px;
    margin-left: 20px;
     font-size: 15px;
}

 .overlay2 button:hover  {
    -webkit-animation: grow;
    color: darkorange;
    background-color: dodgerblue;
}


/* ===========sections on card made for stacking on small screen*/
.flex-columns{
    display: flex;
    flex-direction: row;
}
.flex-columns > div {
    width: 115px;
    margin: 10px;
    text-align: center;
    line-height: 2;
    font-size: 15px;
}
.schedule {
    font-size: 20px;
    line-height: 2;
    padding: 5px;
}

th {
    padding-right: 10px;
}


/*===========Cloud Animation Starts Here =====================*/
*{ margin: 0; padding: 0;}

body {
    /*To hide the horizontal scroller appearing during the animation*/
    overflow: hidden;
}


/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;
    z-index: -1000;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -75px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/

    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px; top: -200px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px; top: -250px;

    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -150px;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    z-index: -1000;
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
z-index: -1000;
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
z-index: -1000;
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

/* ===============Cloud animation ends here================*/