

@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

:root {
	--primary-text-color: black;
}

* 
{
	margin: 0;
	padding: 0;
	font-family: 'Catamaran', sans-serif;
}

a, a:hover {
	text-decoration: none;
	color: var(--primary-text-color);
}
.content h1 
{
	font-size: 70px;
	font-weight: 800;
}

.content h2 
{
	font-size: 30px;
	padding: 30px 0px;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-top: 2%;
	font-size: 1.2em;
}

.button 
{
  background-color: #46a4f1; /* Green */
  border: none;
  color: white;
  padding: 1vw 4vw;
  text-align: center;
  display: inline-block;
  font-size: 2vw;
  border-radius: 8px;
}

.button:hover {
	color: #328fdb;
	background-color: white;	
}

.icons {
	transform: scale(2);
}


