* {
    margin: 0;
}

.container {
    background-image: url(../images/plainbg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* resize image to fill screen */
    width: 100vw;
    height: 100vh;
    overflow: auto;
    
}

/* HOME */
.wrapper {
    font-family: fantasy;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    text-transform: uppercase;
    text-align: center;
    margin:auto;
    max-width:1000px;
    flex:1;
}

.home h2 {
    font-family: monospace;
    font-size: 2em;
}

.acm_logo {
    max-width: 300px;
    max-height: 300px;
}

/* COUNTDOWN TIMER */

.countdown p {
    padding: 1rem;
    font-size: 1.9em;
}

.countdown_box {
    background: rgba(0, 0, 0, 0.3);
    padding:1rem;
}

.text_countdown {
    font-size: 2.5em !important;
    letter-spacing: 0.1em;
    color:antiquewhite;
}