* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: FranklinGothic;
    src: url("../fonts/Franklin_Gothic_Black_SSi_Black.ttf") format('truetype');
}

@font-face {
    font-family: ModernSans-Light;
    src: url("../fonts/ModernSans-Light.otf") format('otf');
}

@font-face {
    font-family: FredokaOne;
    src: url("../fonts/FredokaOne-Regular.ttf") format('truetype');
}

@font-face {
    font-family: KanitThin;
    src: url("../fonts/Kanit-Thin.ttf") format('truetype');
}

@font-face {
    font-family: KanitRegular;
    src: url("../fonts/Kanit-Regular.ttf") format('truetype');
}

@font-face {
    font-family: ArimoSemiBold;
    src: url("../fonts/Arimo-SemiBold.ttf") format('truetype');
}

h2 {
    margin-bottom: 16px;
}

.container {
    background-image: url(../images/bg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* resize image to fill screen */
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.navbar ,.footer, .countdown_box {
    background: rgba(79, 72, 189, 0.5);
}

.navbarBlur, .footerBlur {
    backdrop-filter: blur(0.4rem);
}

.navbar .text_link, .footer_link, .footer_text, .footer_link a {
    color:#f0eff4;
    text-decoration: none;
}

/* HOME */
.wrapper {
    font-family: FranklinGothic;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    text-align: center;
    max-width:1000px;
    color:#f0eff4;
    padding-top: 2rem;
}

.page_title {
    font-size: 2.5em;
    font-kerning: none;
    /* 3D text effect */
    letter-spacing: 0.02em;
    text-shadow:
    1px 1px 0 #6b61ff,
    2px 2px 0 #6b61ff,
    3px 3px 0 #6b61ff,
    4px 4px 0 #6b61ff,
    5px 5px 0 #6b61ff,
    6px 6px 0 #6b61ff;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}