.uwbacmtitle {
  font-family: "KanitThin";
  margin-top: 0.5em;
  font-size: 1.4em;
}

.home .date {
  font-family: "KanitRegular";
  color: #fadda2;
  /* -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #6b61ff; */
    font-size: 1.6em;
}

.title {
  transform: scale(1.7);
  height: auto;
  width: 50%;
}

.acm_logo {
  max-width: 350px;
  height: auto;
  width: 50%;
  min-width: 250px;
}

/* COUNTDOWN TIMER */

.countdown {
  margin-top: 1rem;
}
.countdown p {
  font-family: "KanitRegular";
  font-weight: 500;
  font-size: 1.5em;
  /* -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #6b61ff; */
}

.countdown_box {
  padding: 1rem;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  background-color: rgb(107, 97, 255);
  color: #fadda2;
  width: 350px;
  /* border-color: #6b61ff;
    border-style: solid;
    border-width: 0.25em; */
}

.countdown_text {
  font-size: 1.7em;
  font-family: "KanitThin";
}

.track_box {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 4rem;
  margin-top: 2rem;
  justify-content: center;
}

.track_box .bc_header {
  display: flex;
  color: #fadda2;
  line-height: 2.25rem;
  text-shadow: 3px 3px rgb(0 0 0 / 10%);
}

.track_box .bc_content {
  font-family: sans-serif;
  color: rgb(240, 239, 244);
  font-weight: 300;
  line-height: 1.75rem;
  text-align: left;
  text-shadow: 2px 2px rgb(0 0 0 / 10%);
  padding-top: 1rem;
}

.track_box .bluecard-inner {
  border-radius: 10px;
  background-color: rgb(142 205 230);
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.husky {
  width: fit-content;
  display: inline-grid;
  margin-top: 3rem;
}

.husky .husky_image {
  z-index: 1;
  /*transform: scale(0.9) translateY(2rem);*/
  margin-left: auto;
  margin-right: auto;
}

.husky_image {
  max-width: 216px;
  min-width: 200px;
  width: 60%;
  height: auto;
}

.husky span {
  font-family: FredokaOne;
  color: #fadda2;
  text-shadow: 3px 3px rgb(0 0 0 / 10%);
}

.husky .tracks {
  border-radius: 10px;
  background-color: rgb(142 205 230);
  padding: 1rem;
  font-size: 1.5rem;
}

.track-img {
  z-index: 0;
  max-width: 200px;
  width: 50%;
  height: auto;
}

.horizontalcard {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 2rem;
  backdrop-filter: blur(0.4rem);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.horizontalimage {
  margin: auto;
}

.horizontalblueopacity {
  background-color: hsla(197, 76%, 81%, 0.233);
  border-radius: 2rem;
  margin:auto;
}

.horizontalcontent {
  background-color: #8ecde6;
  border-radius: 0rem 2rem 2rem 0rem;
  text-align: left;
  font-size: 1.3rem;
  padding: 2.5rem;
}

.horizontalcontent h1 {
  font-family: "FredokaOne";
  font-size: 1.6rem;
  text-shadow: 3px 3px rgb(0 0 0 / 10%);
  color: #fadda2;
}

.horizontalcontent p {
    font-family: "ArimoSemiBold";
}
.outer-img {
  padding-bottom: 1.5rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .countdown_box {
    width: 250px;
  }
  .horizontalblueopacity {
    width: 85%;
  }
  .horizontalcard {
    grid-template-columns: 100%;
  }
  .horizontalcontent {
    border-radius: 0rem 0rem 2rem 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.title {
  transform: scale(1.2);
}
.countdown_box {
  width: 400px;
}
.countdown p {
  font-size: 1.5em;
}

.countdown_text {
    font-size: 1.2em;
}

.horizontalblueopacity {
    width: 70%;
  }
  .horizontalcard {
    grid-template-columns: 100%;
  }
  .horizontalcontent {
    border-radius: 0rem 0rem 2rem 2rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title {
      width: 90%;
      margin-top: 5rem;
  }
  
  .acm_logo {
    width: 100%;
  }

  .content{ 
      margin:auto;
  }

  .home .date {
      font-size: 3.5em;
  }

  .uwbacmtitle {
      font-size: 2em;
  }

  .countdown_box {
    width: 100%;
  }

  .countdown p {
      font-size: 2.3em;
  }

  .countdown_text {
      font-size: 2.5em;
  }

  .text_link:hover {
      /* 3D text effect pop out 
      position: relative; 
      top: -3px; 
      left: -3px; 
      text-shadow: 1px 1px #66a1ff, 
                  2px 2px #66a1ff, 
                  3px 3px #66a1ff, 
                  4px 4px #66a1ff, 
                  5px 5px #66a1ff, 
                  6px 6px #66a1ff;*/
  }

  .husky span {
      font-size: 3rem;
      line-height: 2.25rem;
  }

  .husky .tracks {
      padding: 2rem;
  }
  .husky_image{
    width: 100%;
  }
  .track-img {
    width: 100%;
  }

.outer-img {
    padding-bottom: 1.5rem;
  }
  
  .horizontalcard {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    grid-template-columns: 50% 50%;
  }

  .horizontalcontent {
    padding: 2.5rem;
    border-radius: 0rem 2rem 2rem 0rem;
  }
  
  .horizontalcontent h1 {
    font-size: 2.3rem;
  }
  
  .horizontalcontent p {
      font-size: 1.5rem;
      margin-top: 0.5rem;
  }
  .track_box .bc_content {
    font-size: 1.7rem;
  }
  .track_box .bc_header {
    font-size: 2rem;
  }
  .horizontalblueopacity {
    width: 100%;
  }
}