.uwbacmtitle {
  font-family: "KanitThin";
  font-size: 2em;
  margin-top: 0.5em;
}

.home .date {
  font-family: "KanitRegular";
  font-size: 3.5em;
  color: #fadda2;
  /* -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #6b61ff; */
}

.title {
  transform: scale(1.5);
  margin-top: 5rem;
}

.acm_logo {
  max-width: 250px;
  max-height: 250px;
}

/* COUNTDOWN TIMER */

.countdown {
  margin-top: 1rem;
}
.countdown p {
  font-size: 2.3em;
  font-family: "KanitRegular";
  font-weight: 500;
  /* -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #6b61ff; */
}

.countdown_box {
  padding: 1rem;
  border-radius: 10px;
  width: 800px;
  margin: auto;
  background-color: rgb(107, 97, 255);
  color: #fadda2;
  /* border-color: #6b61ff;
    border-style: solid;
    border-width: 0.25em; */
}

.countdown_text {
  font-family: "KanitThin";
  font-size: 2.5em;
}

.track_box {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 4rem;
  margin-top: 2rem;
  justify-content: center;
}

.track_box .bc_header {
  display: flex;
  color: #fadda2;
  font-size: 2rem;
  line-height: 2.25rem;
  text-shadow: 3px 3px rgb(0 0 0 / 10%);
}

.track_box .bc_content {
  font-family: sans-serif;
  color: rgb(240, 239, 244);
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.75rem;
  text-align: left;
  text-shadow: 2px 2px rgb(0 0 0 / 10%);
  padding-top: 1rem;
}

.track_box .bluecard-inner {
  border-radius: 10px;
  background-color: rgb(142 205 230);
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.husky {
  width: fit-content;
  display: inline-grid;
  margin-top: 3rem;
}

.husky .husky_image {
  z-index: 1;
  transform: scale(0.9) translateY(2rem);
  margin-left: auto;
  margin-right: auto;
}

.husky span {
  font-family: FredokaOne;
  font-size: 3rem;
  line-height: 2.25rem;
  color: #fadda2;
  text-shadow: 3px 3px rgb(0 0 0 / 10%);
}

.husky .tracks {
  border-radius: 10px;
  background-color: rgb(142 205 230);
  padding: 2rem;
}

.track-img {
  z-index: 0;
  max-width: 250px;
  max-height: 250px;
}

.outer-img {
  padding-bottom: 1.5rem;
}

.horizontalcard {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 2rem;
  backdrop-filter: blur(0.4rem);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.horizontalimage {
  margin: auto;
}

.horizontalblueopacity {
  background-color: hsla(197, 76%, 81%, 0.233);
  border-radius: 2rem;
}

.horizontalcontent {
  background-color: #8ecde6;
  border-radius: 0rem 2rem 2rem 0rem;
  text-align: left;
  padding: 2.5rem;
}

.horizontalcontent h1 {
  font-family: "FredokaOne";
  text-shadow: 3px 3px rgb(0 0 0 / 10%);
  color: #fadda2;
  font-size: 3rem;
}

.horizontalcontent p {
    font-family: "ArimoSemiBold";
    font-size: 1.6rem;
    margin-top: 0.5rem;
}
