/* NAVBAR */
.navbar {
    z-index: 10;
    display:block;
    top:0;
    width:100%;
    font-family: FranklinGothic;
}

.navbar_wrapper {
    display: block;
    align-items: center;
    justify-content: space-between; /* add space between logo/left-side text and other pages */
    text-transform: uppercase;   
}

.navbar ul {
    list-style: none;
}

#navbar_logo {
    display: inline-block;
    align-items: center;
    white-space: nowrap; /* prevent text from wrapping when resized larger */
}

.navbar_links {
    display:grid;
}

#navbar_link-wrapper {
    display:inline-block; /* aligns text side by side */
    
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.text_link {
    text-decoration: none;
    font-kerning: none;
    /* 3D text effect */
    letter-spacing: 0.02em;
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #6b61ff; */
    /* text-shadow: 
        1px 1px 0 #6b61ff,
        2px 2px 0 #6b61ff,
        3px 3px 0 #6b61ff,
        4px 4px 0 #6b61ff; */
}
.text_link:hover {
    color: #fadda2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar_wrapper {
        padding:0.5rem;
        justify-content: none;
        text-align: center;
    }
    .navbar_links {
        justify-content: center;
        display:grid;
    }
    .text_link {
        font-size: 1.7rem;
        margin-top:1rem;
    }
    #navbar_link-wrapper {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar_wrapper {
        padding:0.5rem;
        justify-content: none;
        text-align: center;
    }
    .navbar_links {
        justify-content: center;
    }
    .text_link {
        font-size: 1.7rem;
        margin-top:1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar_wrapper {
        padding:0.5rem;
        justify-content: none;
        text-align: center;
    }
    .navbar_links {
        justify-content: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar {
        position: sticky;
    }
    #navbar_logo {
        font-size: 2.5rem;
    }
    .navbar_wrapper {
        padding:1rem;
        display: flex;
    }
    .text_link {
        font-size: 2rem;
        margin-top:0rem;
    }
    .navbar_links {
        display:flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}