@import url("https://use.typekit.net/aeh3rja.css"); // amboy
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"'); // quicksand

$maya-blue: #b1c5ff;
$blue: #2059ff;
$light-aqua: #9bf9f5;
$cyan: #33f2eb;
$light-purple: #dfbefa;
$dark-purple: #4a0078;
$pink: #f2339d;
$taffy: #dd8ef2;
$purple-bg: #05012b;
$primary-text-color: $light-purple;

.amboy,
.amboy * {
  // header font
  font-family: amboy-black, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.quicksand,
.quicksand * {
  // body font
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}
.bold {
  font-weight: 800;
}
html {
  height: 100%;
  font-size: 16px;
}
body {
  color: $light-purple;
  background-color: $purple-bg;
  height: auto;
  padding-top: 70px;
}
body * {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  color: $light-purple;
}
.hkt-dates {
  color: $pink !important;
  text-shadow: 0px 0px 5px $pink, 0 0 50px $light-purple, 0 0 1px $taffy;
}
a,
a:hover {
  text-decoration: none;
}
#header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.4s;
  z-index: 1;
  color: $light-purple;
  background-color: $purple-bg;
  opacity: 0.9;
  // font-size: 1.5em;
}

.body-text {
  font-size: 1.5rem;
}
.w-90 {
  width: 90%;
}

// .body-content {
//   display: block;
//   position: relative;
//   margin-top: 10%;
//   margin-bottom: 1%;
// }

.navbar-brand {
  // font-size: 1.4em;
  font-weight: bold;
}
.navbar *:hover {
  color: $taffy;
}
.active {
  color: $taffy !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(219,177,253, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  font-size: 1.5em;
}

.custom-toggler.navbar-toggler > :hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(221,142,242, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  font-size: 1.5em;
}

#info-block section {
  border: 4px solid white;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
}

.file-marker > div {
  padding: 0 3px;
  height: 100%;
  margin-top: -0.8em;
}
.box-contents {
  font-size: 3.5rem;
  @media (min-width: 1024px) {
    font-size: 5rem;
  }
}
.box-title {
  background: $purple-bg none repeat scroll 0 0;
  display: inline-block;
  margin-top: -0.4em;
  padding: 0 2%;
  vertical-align: middle;
  color: white;
  font-size: 2em;
}
// .container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 0;
// }

@mixin logo($size) {
  width: $size;
  height: $size;
  justify-content: center;
  text-align: center;
}
.home-logo * {
  display: flex;
  vertical-align: middle;
  width: 100%;
}
.acm-title {
  font-size: 1.2rem;
  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

.grid-item {
  display: inline-block;
  background-color: white;
}
.image-grid {
  padding: 2vw 4vw;
  border-radius: 8px;
}
.image-grid > * > img {
  // padding: auto 4%;
  width: 100%;
  height: auto;
}
.image-grid > * > img:hover {
  transform: scale(1.04);
  transition: 0.4s ease-out;
}

.separator {
  width: 25%;
  padding-bottom: 1vw;
  border-bottom: 4px solid lightgray;
}
.footer-separator {
  width: 100%;
  padding-bottom: 1vw;
  border-top: 4px solid lightgray;
}

.btn {
  //   background-color: #2084E8;
  background-color: $light-purple;
  color: $dark-purple;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  justify-content: center;
  display: flex;
  padding: 1vw 2vw;
  &-lg {
    font-size: 1.5rem;
  }
  &-x-md {
    font-size: 1rem;
  }
  &-md {
    font-size: 0.6rem;
  }
  &-cyan {
    background-color: $cyan;
  }
}

.btn:hover {
  color: $dark-purple;
  background-color: white;
}

.collapsible {
  background-color: $purple-bg;
  color: $light-purple;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.faq-container {
  padding: 7px 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 22px;
}

.rule {
  color: $cyan;
}

.faq-container a {
  color: $cyan;
  font-weight: bold;
}

.faq-container a:hover {
  color: $maya-blue;
  font-weight: bold;
}

.faq-active,
.collapsible:hover {
  background-color: $light-purple;
}

.collapsible:hover > * {
  color: black;
}

.faq-active > * {
  color: black;
  background-color: $light-purple; 
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 18px;
  margin-top: 4px;
  color: white;
  float: right;
  margin-left: 5px;
}

.faq-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  // padding-left: 2em;
  // padding-left: 2em;
}

.footer {
  margin: 0;

  &-links {
    vertical-align: middle;
    border-right: 2px solid lightgray;
    *,
    *:hover {
      text-decoration: underline;
    }
    &-text {
      font-size: 1.6vw;
      width: 100%;
      text-align: left;
      margin-bottom: 0.3vw;
    }
    &-text:hover {
      color: $taffy;
    }
  }
  &-icons * {
    display: inline-block;
    font-size: 4.2vw;
    justify-content: right;
    text-align: right;
    vertical-align: middle;
    margin-left: 3%;
  }
  &-icons *:hover {
    color: $taffy;
  }
  &-logo * {
    display: inline-block;
    width: 100%;
    margin-left: 2rem;
    justify-content: center;
    vertical-align: middle;
  }
}

.agenda {
  padding: 2px;
  &-day {
    color: cyan;
    font-weight: 800;
    margin-bottom: 2vw;
  }
  &-content * {
    font-size: 1.8vw;
    line-height: 120%;
    height: 8vw;
  }
}
.border-right {
  border-right: 2px solid $light-aqua;
}

.speaker {
  &-profile {
    width: 100%;
  }
  &-info {
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    border: 2px solid $taffy;
  }
}
.track {
  h2 {
    text-transform: uppercase;
    color: cyan;
    font-weight: 800;
  }
  &-content {
    font-size: 1.5rem;
  }
}
.time {
  background-color: $light-purple;
  color: $purple-bg;
  border-radius: 8px;
  padding: 4px;
}
#sponsor-pkg {
  margin-bottom: 30px;
}
#sponsor-pkg:hover {
  background-color: #c880de;
}
.sponsor-container {
  background-color: white;
}
.sponsor-container h2 {
  color: black;
  padding-top: 15px;
}

.sponsor-container img {
  padding-top: 30px;
}